extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p Here is a collection of my completed projects that represent my journey as a developer

  article.portfolio-project-thumbs
    .projects-box.box.grid

      // iterate through the projects from our data
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=project.image_urls[0], alt=`Thumbnail of project: ${project.project_name}`)
            h5= `${project.id + 1}: ${project.project_name} `


